.header {
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 50px;
}

.headerLogo {

}

.headerCart svg {
    height: 25px;
    width: auto;
}